<h2> Add subject </h2>

<form action="subjectadded">


 <label>Choose subject</label>
<select name="subject">
  <option>Maths</option>
  <option>English</option>
  <option>Science</option>
  <option>Physics</option>
  <option>Hindi</option>
  <option>Music</option>
  <option>Chemistry</option>
  <option>Accounting</option>

</select>
<br>
<br> 

 <label>Subject level</label>
<select name="subjectlevel">
<option>All Levels</option>
  <option>A-level</option>
  <option>Primary</option>
  <option>Degree</option>
  <option>KS3</option>
  <option>GCSE</option>


</select>
<br>
<br> 

 <label>Mode</label>
<select name="mode">
<option>All Levels</option>
  <option>Online</option>
  <option>In Person</option>



</select>
<br>
<br> 


<input type="submit" value="Submit">



</form>

<h3 style="color: blue"> {{msg}} </h3>