<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Tutor booked!</h2>
    <h3 style="color: red">{{msg}}</h3>
    <form action="/" method="post">
      {% csrf_token %}
      <input type="text" value="{{request.get_full_path}}" name="session_id" />
      <input type="submit" value="Go back to main page" />
    </form>
  </body>
</html>
